html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body url(../img/dist/bg-noise-30x30.png); /* Fallback for when there is no custom background color defined. */
	position: relative;
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

@import "tables";

header{

	&.site-header{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		width: 100%;
		background: $color__palette-primary url(../img/dist/bg-straps.png);
		height: 80px;
	}

	.site-branding{
		float: left;

		h1{
			margin: 0;
			line-height: 80px;
			padding: 0 15px;
			background: $color__background-body url(../img/dist/bg-noise-30x30.png);
			font-family: $font__bazar;
			font-weight: normal;
			text-transform: uppercase;

			a{
				text-decoration: none;
			}
		}
	}

}

.site-desc{
	margin-bottom: 30px;
	text-align: center;

	h2{
		margin: 0;
		font-family: $font__bazar;
		text-transform: uppercase;
		font-size: 2em;
		color: $color__palette-secondary;
		line-height: 35px;
	}

	p{
		margin: 0;
	}
}

#content{
	padding-top: 120px;
	position: relative;
}

.logged-in.admin-bar{

}

#share-ruler{
	position: absolute;
	left: 0;
	top: 120px;
	z-index: 10;

	ul{
		margin: 0;
		padding: 0;
	}

	li{
		text-align: center;
	}

	a{
		display: block;
		color: white;
		height: 50px;
		width: 50px;
		line-height: 50px;
		font-size: 25px;
		-webkit-transition: all 0.15s linear;
		-moz-transition: all 0.15s linear;
		-ms-transition: all 0.15s linear;
		-o-transition: all 0.15s linear;
		transition: all 0.15s linear;

		&:hover{
			width: 60px;
			padding-left: 10px;
		}
	}

	a.facebook{
		background: #3B5998;
		&:hover{ background: darken(#3B5998, 10%); }
	}
	a.twitter{
		background: #00ACED;
		&:hover{ background: darken(#00ACED, 10%); }
	}
	a.google-plus{
		background: #CB2027;
		&:hover{ background: darken(#CB2027, 10%); }
	}
	a.pinterest{
		background: #DD4B39;
		&:hover{ background: darken(#DD4B39, 10%); }
	}
	a.email{
		background: #AAAAAA;
		&:hover{ background: darken(#AAAAAA, 10%); }
	}
}