body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";

.font--bazar{
	font-family: $font__bazar;
}

.entry-title,
.widget-title{
	@extend .font--bazar;
	text-transform: uppercase;
}

.widget-title{
	padding-bottom: 10px;
	background: url(../img/dist/border-lines.png) left bottom no-repeat;
}

.entry-title{
	margin: 0;
	a{
		text-decoration: none;
	}

	&.entry-title--quoted{
		font-style: italic;
	}
}

.read-more{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.8em;
}

a.underlined{
	text-decoration: underline !important;
}