.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}

@media (min-width: 768px) {
	.container {
		width: 750px
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px
	}
}

@media (max-width: 768px) {
	.content-area{
		padding: 0 15px !important;
		margin: 0;

		.site-main{ margin: 0; }
	}

	.site-content .widget-area{
		float: none !important;
		width: 100% !important;
		margin: 0 !important;
	}
}

.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}

@import "content-sidebar";